.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    gap: 20px;
    
    
    
}
.grid-item{
    background: linear-gradient(to right, #b0e2e3 0% , #534e4b 100%);;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    text-justify: auto;
    margin: 10px;
}


.carousel-control-prev-icon, 
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 1); /* Semi-transparent dark */
  border-radius: 5px; /* Optional: rounded corners */
}
.display-4{
    color: #b0e2e3;
    font-family: 'Mybedsteadfont', sans-serif;
}  
.carousel{
    margin-right: 12px;
    margin-top: 10px;
}
p, h1 {
    color: #2b2b2b;
}
body {
    background: linear-gradient(180deg, #031727 25% , #534e4b 100%);;
}
p{
    font-family: 'Mybedsteadfont', sans-serif;
}


@font-face {
    font-family: 'Mybedsteadfont';
    src: url('../assets/fonts/bedstead.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}